@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #f6f6f6;
  --secondary-color: #777;
  --bg-color: #323232;
  --primary-text: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  background-color: var(--bg-color);
  padding: 24px 16px;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
}

/* menu hamburger */
.menu {
  width: 30px;
  height: 2px;
  border-radius: 20px;
  background-color: var(--primary-color);
  position: relative;
}
.menu::after {
  content: '';
  width: 30px;
  height: 2px;
  border-radius: 20px;
  background-color: var(--primary-color);
  position: absolute;
  top: 9px;
}
.menu::before {
  content: '';
  width: 30px;
  height: 2px;
  border-radius: 20px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 9px;
}

/* main */
main {
  margin-top: 56px;
}
.input-container {
  margin-bottom: 20px;
}
.input-text {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  background: none;
  border: none;
  outline: none;
  color: var(--secondary-color);
  height: 250px;
}
.input-text::placeholder {
  color: var(--secondary-color);
}
.regras-input {
  color: #000;
  font-size: 14px;
}

/* buttons */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}

.btn {
  border: none;
  border-radius: 24px;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
}

.btn.decript {
  background: none;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/* resultado */
.result {
  padding: 32px;
  border-radius: 32px;
  color: var(--primary-text);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.btn.copy {
  background-color: var(--primary-color);
  color: var(--primary-text);
  border: 2px solid var(--bg-color);
}
